.info {
    width: 100%;
    margin: 2rem 0;
}
.imgInfo{
    width: 15%;
    margin-bottom: 1rem;
}
.infoText h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0;
}
@media only screen and (min-width: 481px) {
    .info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .infoArticle {
        width: 30%;
        height: 20vh;
    }
    .imgInfo {
        width: 25%;
        height: 5vh;
    }
    .infoText {
        height: 10vh;
        
    }

}
@media only screen and (min-width: 1024px) {
    .infoArticle {
        width: 33%;
        height: 20vh;
    }
    .imgInfo {
        width: 15%;
        height: 5vh;
    }
}
@media only screen and (min-width: 1024px) {
    .infoArticle {
        width: 33%;
        height: 20vh;
        margin-top: 3rem;
    }
    .imgInfo {
        width: 12%;
        height: 5vh;
    }
}