@media only screen and (min-width: 769px) {
    .contenedorCards {
        width: 90%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 2rem;
    }
}
@media only screen and (min-width: 1624px) {
    .contenedorCards {
        width: 80%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 0 auto;
        margin-top: 5rem;
    }
}