footer {
    background-color: #A5F3E1;
}
.footerOrg {
    padding-top: 1rem;
}
.footerOrg p {
    font-size: 0.8rem;
}
.imgFooter {
    margin: 0 0 1rem 5px;
    width: 15%;
}
.menuRedesFooter {
    display: flex !important;
    justify-content: flex-end ;
    align-items: center;
    width: 100%;
}
.menuRedesLogoFooter {
    padding: 0 !important;
    margin: 5px;
}
.menuRedesLogoFooter img {
    padding: 0 !important;
    width: 70% !important;
}
@media only screen and (min-width: 481px) {
    .imgFooter {
        width: 10%;
    }
    .menuRedesFooter {
        justify-content: center ;
    }
    
}
@media only screen and (min-width: 769px) {
    footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footerOrg {
        margin-left: 2rem;
        width: 60%;
    }
    .footerLinks {
        width: 30%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .imgFooter {
        margin: 0;
        width: 15%;
    }
    .menuRedesFooter {
        justify-content: flex-end ;
    }
    .menuRedesLogoFooter img {
        width: 70% !important;
    }
}
@media only screen and (min-width: 1024px) {
    footer {
        height: 10vh;
    }
    .footerOrg p{
        text-align: left;
    }
    .imgFooter {
        width: 13%;
    }
    .menuRedes {
        width: 35%;
    }
    .menuRedesLogo {
        padding: 5px !important;
    }
}
@media only screen and (min-width: 1624px) {
    .imgFooter {
        width: 10%;
    }
}