footer {
    background-color: #A5F3E1;
}
.footerOrg {
    padding-top: 1rem;
}
.footerOrg p {
    font-size: 0.8rem;
}
.imgFooter {
    margin: 0 0 1rem 5px;
    width: 15%;
}
@media only screen and (min-width: 481px) {
    .imgFooter {
        width: 10%;
    }
}
